<title>ForexHomeTrade &#8211; KYC</title>
<style>
  .preview-pic{
    max-width: 500px;
    max-height: 300px;


  }
  .front-upload {
    display: none;
  }
  .pic-upload {
    display: none;
  }
  .back-upload {
    display: none;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p>To get your account verified, Please prepare your identity documents National –ID card or Driving license. Please make sure that your document is valid. To get the detailed information on how to pass KYC please contact at <a href="#">Support@forexhometrade.com</a>
            </p>
            <h1 style="color:red;">Applicant Data</h1>
            <%= form_for current_user, url: kyc_url(subdomain: 'office') do |f| %>
              <div class="form-group row">
                <div class="col-sm-3">
                  <label for="inputFirstname">First name</label>
                  <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", id: "inputFirstname" %>
                </div>
                <div class="col-sm-3">
                  <label for="inputLastname">Last name</label>
                  <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", id: "inputLastname" %>
                </div>
                <div class="col-sm-6">
                  <label for="doc">Document Number</label>
                  <%= f.text_field :document_number, class: "form-control", placeholder: "Document number", id: "doc" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label class="control-label requiredField" for="email">
                    Email
                    <span class="asteriskField">
        *
       </span>
                  </label>
                  <%= f.text_field :email, class: "form-control", placeholder: "Email", id: "email" %>
                </div>
                <div class="col-sm-6">
                  <label class="control-label requiredField" for="dob">
                    DOB
                    <span class="asteriskField">
        *
       </span>
                  </label>
                  <%= f.text_field :dob, class: "form-control", placeholder: "MM/DD/YYYY", id: "dob" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="inputAddressLine1">Address</label>
                  <%= f.text_area :address, class: "form-control", placeholder: "Address", id: "address", rows: "2" %>
                </div>
                <div class="col-sm-6">
                  <label for="country">Country</label>
                  <%= f.select :country, [], {}, {id: "country", class: "form-control custom-select", name: "user[country]", data: {country: current_user.try(:country)}} %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                  <label for="state">State</label>
                  <%= f.select :state, [], {include_blank: "Select State"}, { id: "state", class: "form-control custom-select", name: "user[state]", data: {state: current_user.try(:state)} } %>
                </div>
                <div class="col-sm-6">
                  <label for="inputCity">City</label>
                  <%= f.text_field :city, class: "form-control custom-select", placeholder: "City", id: "inputCity" %>
                </div>
                <div class="col-sm-3">
                  <label for="inputPostalCode">Postal Code</label>
                  <%= f.text_field :zipcode, class: "form-control custom-select", placeholder: "Postal Code", id: "inputPostalCode" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="inputContactNumber">Contact Number</label>
                  <%= f.text_field :contact_number, class: "form-control custom-select", placeholder: "Contact Number", id: "inputPostalCode" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label class="control-label requiredField">
                    <h1 style="color: red">Proof of Identity</h1><br />
                  </label>
                  <label> Choose your document type
                    <span class="asteriskField">
                   </span></label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input id-card" type="radio" name="user[identity_type]" id="inlineRadio1" value="id_card" <%=current_user.identity_type == "id_card" ? "checked" : "" %>>
                    <label class="form-check-label" for="inlineRadio1">ID Card </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input driving-license" type="radio" name="user[identity_type]" id="inlineRadio2" value="driving" <%=current_user.identity_type == "driving" ? "checked" : "" %>>
                    <label class="form-check-label" for="inlineRadio2"> Driving License </label>
                  </div>
                </div>
              </div>
              <label for="front">please upload front side photo of your document.</label>
              <div class="form-group row">

                <div class="col-sm-12" >
                  <div >
                    <div style="text-align: center;">
                      <%=image_tag((current_user.document_front.try(:url).present? ? current_user.document_front.url : "https://via.placeholder.com/500x300.png"), class: "front-pic preview-pic", width: "auto") %>
                    </div>
                    <div style="text-align: center;" class="p-image">
                      <i class="fa fa-upload front-button fa-4x"></i>
                      <%= f.file_field :document_front, class: 'front-upload', required: (current_user.document_front.try(:url).present? ? false : true) %>
                    </div>
                  </div>
                </div>

              </div>
              <label for="back">Please upload back side photo of your document.</label>
              <div class="form-group row">
                <div class="col-sm-12">
                  <div style="text-align: center;">
                    <%=image_tag((current_user.document_back.try(:url).present? ? current_user.document_back.url : "https://via.placeholder.com/500x300.png"), class: "back-pic preview-pic", width: "auto") %>
                  </div>
                  <div style="text-align: center;" class="p-image">
                    <i class="fa fa-upload back-button fa-4x"></i>
                    <%= f.file_field :document_back, class: 'back-upload', required: (current_user.document_back.try(:url).present? ? false : true) %>
                  </div>
                </div>
              </div>
              <label for="pic">Please upload a photo while holding a paper in your left hand near to your left shoulder in which clearly written Forex Home Trade and pick up your document card in your right hand just below your chin.</label>
              <div class="form-group row">
                <div class="col-sm-12">
                  <div style="text-align: center;">
                    <%=image_tag((current_user.document.try(:url).present? ? current_user.document.url : "https://via.placeholder.com/500x300.png"), class: "profile-pic preview-pic", width: "auto") %>
                  </div>
                  <div style="text-align: center;" class="p-image">
                    <i class="fa fa-upload pic-button fa-4x"></i>
                    <%= f.file_field :document, class: 'pic-upload', required: (current_user.document.try(:url).present? ? false : true) %>
                  </div>
                </div>
              </div>
              <p>Please, follow the step after agreeing to our conditions.</p>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" required class="custom-control-input requiredField" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">By Clicking "I Agree" button I accept <a href="<%= terms_path %>" target="_blank">Terms and conditons</a></label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" required class="custom-control-input requiredField" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">I give my consent to process my personal data for the purposes and conditions set out in The Privacy Policy</label>
              </div>
              </br>
              <div style="float: left;">
                <button  type="submit" class="btn btn-primary px-4 float-right save-btn" disabled>Save</button>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    populateCountries("country", "state", "city")
    $(document).ready(function() {
      var readPicURL = function(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('.profile-pic').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
        }
      }
      $(".pic-upload").on('change', function(){
        readPicURL(this);
      });
      $(".pic-button").on('click', function() {
        $(".pic-upload").click();
      });
      var readFrontURL = function(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('.front-pic').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $(".front-upload").on('change', function(){
          readFrontURL(this);
      });
      $(".front-button").on('click', function() {
          $(".front-upload").click();
      });
      var readBackURL = function(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $('.back-pic').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $(".back-upload").on('change', function(){
          readBackURL(this);
      });
      $(".back-button").on('click', function() {
          $(".back-upload").click();
      });
      $(".driving-license").on('click', function() {
        if($(".driving-license")[0].checked == true){
            $(".save-btn").prop('disabled', false);
        }
      });
      $(".id-card").on('click', function() {
        if($(".id-card")[0].checked == true){
          $(".save-btn").prop('disabled', false);
        }
      });
    });
</script>