<div id="wrapper">
  <div class="signup-page">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
      <%= hidden_field_tag :position, params[:position] if params[:position] %>

      <div class="signup-top">
        <div class="signup-holder">
          <div class="logo">
            <%= link_to "/" do %>
              <%= image_tag "registration/logo.png" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="signup-bottom">
        <div class="signup-holder">
          <!-- Signup Row Start -->
          <div class="signup-row add">
            <div class="signup-column">
              <label>Sponsor ID</label>
              <input id="sponsor_id_txt"
                     class="<%= 'trigger-refer-search' if params[:refered_name] %>"
                     type="text"
                     value="<%= params[:refered_name] || resource.referred_by.try(:username) %>" />
            </div>
          </div>
          <div class="signup-row add">
            <div id="sponsor_info_card" class="signup-column">
              <% if resource.referred_by_id %>
                <label>Sponsor Name: <%= resource.referred_by.try(:full_name) %></label>
                <input type='hidden' name='user[referred_by_id]' value='<%= resource.referred_by_id %>' />
              <% end %>
            </div>
          </div>
          <!-- Signup Row End -->
          <!-- Signup Row Start -->
          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, validate: true %>
            </div>
            <div class="signup-column">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
          </div>
          <!-- Signup Row End -->
          <!-- Signup Row Start -->
          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>
            <div class="signup-column">
              <%= f.label :username %>
              <%= f.text_field :username %>
            </div>
          </div>

          <!-- Signup Row End -->
          <!-- Signup Row Start -->
          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div class="signup-column">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <!-- Signup Row End -->
          <!-- Signup Row End -->
          <!-- Signup Row Start -->
          <!-- Signup Row Start -->

          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :country %>
              <%= f.select :country, [], {}, {id: "country", class: "custom-select", name: "user[country]", data: {country: current_user.try(:country)}} %>
            </div>
            <div class="signup-column">
              <%= f.label :state %>
              <%= f.select :state, [], {}, { id: "state", class: "custom-select", name: "user[state]", data: {state: current_user.try(:state)} } %>
            </div>
          </div>
          <!-- Signup Row Start -->
          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :city %>
              <%= f.text_field :city, class: "custom-select" %>
            </div>
            <div class="signup-column">
              <%= f.label :document_number, "Document ID Number" %>
              <%= f.text_field :document_number %>
            </div>
          </div>

          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :contact_number %>
              <%= f.text_field :contact_number %>
            </div>
            <div class="signup-column">
              <%= f.label :dob, as: "Date of Birth" %>
              <%= f.date_field :dob %>
            </div>
          </div>
          <div class="signup-row">
            <div class="signup-column">
              <%= f.label :pin %>
              <%= f.password_field :pin, maxlength: 4 %>
            </div>
          </div>
          <!-- Signup Row End -->
          <!-- Signup Row Start -->
          <div class="signup-row">
            <input class="submit" type="submit" value="Sign up">
          </div>
          <!-- Signup Row End -->
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
    populateCountries("country", "state", "city")
</script>
