<div id="page" class="hfeed site"><a class="skip-link sr-only" href="#content">Skip to content</a>

  <div class="" style="background-image: url(<%=image_url("reg_bg.jpeg")%>);background-size: cover;padding: 20px;">
    <h1></h1>
    <div class="bg-agile">
      <div class="book-appointment ">
        <%=image_tag "logo.png", style: "margin-left: 35%; width:150px"%>
        <h2>Register Now</h2>
        <div class="book-form agileits-login">
          <%= form_for( resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
              <%= hidden_field_tag :position, params[:position] if params[:position] %>
              <div class="form-text">
                <h5 class="text-white">Do you have Sponsorship ?
                  <label class="radio-inline">
                    <input type="radio" name="spon" checked>  Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="spon">  No
                  </label>
                  <h5>
              </div>
              <div class="form-text">
                <h5 class="text-white">Choose Position
                  <label class="radio-inline">
                    <input type="radio" name="position" class="position" value="left" <%= 'checked' if params[:position] == 'left' %>>  left
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="position" class="position" value='right' <%= 'checked' if params[:position] == 'right' %>> right
                  </label>
                  <h5>
              </div>
              <div id="position-invalid-message"></div>

              <div class="agileits_reservation_grid">

                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text"
                           id="sponsor_id_txt"
                           class="<%= 'trigger-refer-search' if params[:referred_name] %>"
                           value="<%= params[:referred_name] || resource.referred_by.try(:username) %>"
                           name="Name"
                           placeholder="Sponsor Username"
                    >
                  </div>
                </div>
                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="Name" placeholder="Sponsor name" value='<%= resource.referred_by.try(:full_name) %>' readonly id="sponsor-txt-view" >
                    <div id="sponsor_info_card">
                      <%= f.hidden_field :referred_by_id, disabled: resource.referred_by_id.blank? %>
                    </div>
                  </div>
                </div>

                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= f.text_field :first_name, validate: true, placeholder: "First Name" %>
                  </div>
                </div>
                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= f.text_field :last_name, validate: true, placeholder: "Last Name" %>
                  </div>
                </div>

                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <%= f.text_field :email, placeholder: "Email", validate: true, id: "email1" %>
                  </div>
                </div>

                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <%= f.text_field :email, placeholder: "Confirm Email", validate: true, id: "email2" %>
                    <div id="email-same-message"></div>
                  </div>
                </div>
                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= f.text_field :username, validate: true, placeholder: "Username" %>
                  </div>
                </div>
                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <%= f.text_field :contact_number, placeholder: "Contact number", validate: true %>
                  </div>
                </div>
                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <%= f.text_field :document_number, placeholder: "Document #", validate: true %>
                  </div>
                </div>

                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <%= f.password_field :password, placeholder: "Password" %>
                  </div>
                </div>
                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
                  </div>
                </div>
                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <%= f.password_field :pin, maxlength: 4, placeholder: "User Pin" %>
                  </div>
                </div>
                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <%= f.select :country, [], {}, {id: "country", class: "custom-select", name: "user[country]", data: {country: current_user.try(:country)}} %>
                  </div>
                </div>
                <div class="phone_email phone_email1">
                  <div class="form-text">
                    <i class="fa fa-map" aria-hidden="true"></i>
                    <%= f.select :state, [], {include_blank: "Select State"}, { id: "state", class: "custom-select", name: "user[state]", data: {state: current_user.try(:state)} } %>
                  </div>
                </div>
                <div class="phone_email">
                  <div class="form-text">
                    <i class="fa fa-street-view" aria-hidden="true"></i>
                    <%= f.text_field :city, class: "custom-select", placeholder: "City" %>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="checkbox text-white">
                <label><input type="checkbox" required value=""> I Agree the <a>Terms & Conditions</a></label>
              </div>
              <%= recaptcha_tags %>
              <br>
              <div id="email-invalid-message"></div>
              <br>
              <input type="submit" value="Sign up">
              <div class="clear"></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="clear-fix"></div>

<footer id="colophon" class="site-footer clearfix" role="contentinfo" >
  <div class="site-info col-md-12">Copyrights © 2016. All Rights Reserved. Powered by <a
  href="https://forexhometrade.com">Forex Home Trade</a> .</div>

</footer>
<script>
    populateCountries("country", "state", "city")
    function checkRecaptcha() {
        res = $('#g-recaptcha-response').val();

        if (res == "" || res == undefined || res.length == 0)
            return false;
        else
            return true;
    }

    //...

    $('.new_user').submit(function(e) {
        var position = $(".position")
        var email1 = $("#email1")[0]
        var email2 = $("#email2")[0]
        if(email1.value != email2.value){
            $("#email-same-message" ).text("Email isn't the same.");
            $("#email-invalid-message" ).text("Email isn't the same.");
            return false;
        }
        if(!checkRecaptcha()) {
            $("#email-invalid-message" ).text("Please validate your reCAPTCHA.");
            return false;
        }
        if ((position[0].checked) || (position[1].checked)){
            return true;
        }else {
            $("#position-invalid-message").text("Please set position.");
            $("#email-invalid-message" ).text("Please set position.");
            return false;

        }
    });
</script>
