<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  <%= @name %> has sent you below message.<br>
</p>
<p>
  <%=@message%>
</p>

<br>
<br>
Thanks,
<br>
Name: <%=@name%>
<br>
Email: <%= @email%>
<br>
Phone: <%= @phone%>
</body>
</html>