<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="profile-header">
        <div class="profile-block">
          <div class="profile-block-image">
            <%=image_tag "ic_user.png", alt: "image descriptions"%>
          </div>
          <div class="profile-content-block">
            <h2 class="current-user-name"><%= current_user.username%></h2>
            <h3><%= current_user.full_name%></h3>
          </div>
        </div>
        <%= render "profile_view_card" %>
      </div>
    </div>
    <!-- Content Block 1 End -->

    <!-- Content Block 2 Start -->
    <div class="main-content-block">
      <div class="main-content-body">
        <div class="acount-holder">
          <%= form_for current_user do |f| %>
            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>
              </div>
              <div class="custom-dashboard-column">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <%= f.label :username %>
                <%= f.text_field :username, readonly: true %>
              </div>
              <div class="custom-dashboard-column">
                <%= f.label :email %>
                <%= f.text_field :email, readonly: true %>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <%= f.label :contact_number %>
                <%= f.text_field :contact_number %>
              </div>
              <div class="custom-dashboard-column">
                <label>Gender</label>
                <%= f.select :gender, ["Male", "Female"],prompt: "Select Gender", class: "selectpicker"%>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Sponsor</label>
                <input type="text" value="<%=current_user.referred_by.try(:full_name)%>" disabled="">
              </div>
              <div class="custom-dashboard-column upgrade-column">
                <%= f.label :package_id %>
                <%= f.text_field :package_id, readonly: true %>
                <span class="upgraded-text">
                  <%= link_to "Upgrade", buy_plans_path %>
                </span>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row sepreter"></div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column full-column">
                <label>Address</label>
                <%= f.text_field :address%>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Country</label>
                <%= f.select :country, [], {}, {id: "country", name: "user[country]", data: {country: current_user.country}} %>
              </div>
              <div class="custom-dashboard-column">
                <label>State</label>
                <%= f.select :state, [], {}, { id: "state", name: "user[state]", data: {state: current_user.state} } %>
              </div>
            </div>
            <!-- Signup Row End -->

            <!-- Signup Row Start -->
            <div class="custom-dashboard-row">
              <div class="custom-dashboard-column">
                <label>Zip Code</label>
                <%= f.text_field :zipcode%>
              </div>
            </div>
            <!-- Signup Row End -->

            <div class="button-holder">
              <input class="custom-btn" type="submit" value="Save">
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <!-- Content Block 2 End -->
  </div>
</main>
<script>
  $(function () {
    populateCountries("country", "state", "city"); // first parameter is id of country drop-down and second parameter is id of state drop-down
//    populateCountries("country2");
//    populateCountries("country2");
  });
</script>
