<main class="main">
  <div class="main-content">
    <div class="packages-listing">
      <form action="#">
        <!-- Package Row 1 Start -->
        <div class="packages-listing-row">
          <ul>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <!-- Package Row 1 End -->
        <!-- Package Row 1 Start -->
        <div class="packages-listing-row">
          <ul>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <!-- Package Row 1 End -->
        <!-- Package Row 1 Start -->
        <div class="packages-listing-row">
          <ul>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= image_tag "dashboard/package-01.png" %>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <!-- Package Row 1 End -->
      </form>
    </div>
  </div>
</main>
