<main class="main">
  <div class="main-content">
    <div class="packages-listing">
      <form action="#">
        <!-- Package Row 1 Start -->
        <div class="packages-listing-row">
          <ul>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-01") do %>
                    <%= image_tag "dashboard/package-01.png" %>
                  <% end %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-02") do %>
                    <%= image_tag "dashboard/package-02.png" %>
                  <% end %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-03") do %>
                    <%= image_tag "dashboard/package-03.png" %>
                  <% end %>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <!-- Package Row 1 End -->
        <!-- Package Row 1 Start -->
        <div class="packages-listing-row">
          <ul>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-4") do %>
                    <%= image_tag "dashboard/package-04.png" %>
                  <% end %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-05") do %>
                    <%= image_tag "dashboard/package-05.png" %>
                  <% end %>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <!-- Package Row 1 End -->
        <!-- Package Row 1 Start -->
        <div class="packages-listing-row">
          <ul>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-05") do %>
                    <%= image_tag "dashboard/package-06.png" %>
                  <% end %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-07") do %>
                    <%= image_tag "dashboard/package-07.png" %>
                  <% end %>
                </div>
              </button>
            </li>
            <li>
              <button>
                <div class="package-block">
                  <%= link_to buy_plan_path("package-08") do %>
                    <%= image_tag "dashboard/package-08.png" %>
                  <% end %>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <!-- Package Row 1 End -->
      </form>
    </div>
  </div>
</main>
