<main class="main">
  <div class="main-content">
    <div class="payment-option-listing">
      <h2>Choose Payment Option</h2>
      <div class="payment-option-holder">
        <form action="#">
          <ul>
            <li>
              <div class="image-holder">
                <%= link_to pay_with_coin_payment_url(params[:id], subdomain: 'office') do %>
                  <%=image_tag "ic_bitcoin.png", alt: "image descriptions"%>
                <% end %>
              </div>
              <h3>Bitcoin</h3>
            </li>
            <li>
              <div class="image-holder">
                <%= link_to "#", class: "coming-soon-payment-prompt" do %>
                  <%=image_tag "ic_skrill.png", alt: "image descriptions"%>
                <% end %>
              </div>
              <h3>Skrill</h3>
            </li>
            <li>
              <div class="image-holder">
                <%= link_to "#", class: "coming-soon-payment-prompt" do %>
                  <%=image_tag "ic_perfectmoney.png", alt: "image descriptions"%>
                <% end %>
              </div>
              <h3>Perfect Money</h3>
            </li>
            <li>
              <div class="image-holder">
                <%= link_to "#", class: "coming-soon-payment-prompt" do %>
                  <%=image_tag "ic_payoneer.png", alt: "image descriptions"%>
                <% end %>
              </div>
              <h3>Payoneer</h3>
            </li>
            <li>
              <div class="image-holder">
                <%= link_to send("edit_#{controller.controller_name.singularize}_url", params[:id], subdomain: "office"), remote: true do %>
                  <%=image_tag "ic_accountoaccount.png", alt: "image descriptions"%>
                <% end %>
              </div>
              <h3>Account to Account</h3>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</main>
