<main class="main">
<div class="main-content">
<div class="container" id="why_forex_text">
    <div class="row clients" style="margin-left: -15px; margin-right: -15px;">
      <div class="col-sm-2 img-center">
        <%= link_to "#", class: "later-payment-prompt" do %>
          <%= image_tag "client1.png" %>
        <% end %>
      </div>
      <div class="col-sm-2 img-center">
        <%= link_to "#", class: "later-payment-prompt" do %>
          <%= image_tag "client2.png" %>
        <% end %>
      </div>
      <div class="col-sm-2 img-center">
        <%= link_to "#", class: "later-payment-prompt" do %>
          <%= image_tag "client3.png" %>
        <% end %>
      </div>
      <div class="col-sm-3 img-center">
        <%= link_to "#", class: "later-payment-prompt" do %>
          <%= image_tag "client4.png" %>
        <% end %>
      </div>
      <div class="col-sm-3 img-center">
        <%= link_to buy_plans_path(plan_id: params[:id]), data: { method: :post } do %>
          <%= image_tag "client5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</main>
