<main class="main">
  <div class="main-content">
    <div class="payment-option-listing">
      <h2>Choose Payment Option</h2>
      <div class="payment-option-holder">
        <form action="#">
          <ul>
            <li>
              <div class="image-holder">
                <%= link_to pay_with_bitcoin_url(params[:id], subdomain: 'office') do %>
                  <%=image_tag "ic_bitcoin.png", alt: "image descriptions"%>
                  <%#= image_tag Rails.application.secrets.bitpay_button_strings[:button_string] %>
                <% end %>
                <%#=image_tag "ic_bitcoin.png", alt: "image descriptions"%>
              </div>
              <h3>Bitcoin</h3>
            </li>
            <li>
              <div class="image-holder">
                <%=image_tag "ic_skrill.png", alt: "image descriptions"%>
              </div>
              <h3>Skrill</h3>
            </li>
            <li>
              <div class="image-holder">
                <%=image_tag "ic_perfectmoney.png", alt: "image descriptions"%>
              </div>
              <h3>Perfect Money</h3>
            </li>
            <li>
              <div class="image-holder">
                <%=image_tag "ic_payoneer.png", alt: "image descriptions"%>
              </div>
              <h3>Payoneer</h3>
            </li>
            <li>
              <div class="image-holder">
                <%= link_to "#", data: { toggle: "modal", target: "#plan_prompt_modal" } do %>
                  <%=image_tag "ic_accountoaccount.png", alt: "image descriptions"%>
                <% end %>
              </div>
              <h3>Account to Account</h3>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</main>

<div class="modal" tabindex="-1" role="dialog" id="plan_prompt_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="<%= buy_plans_url(plan_id: params[:id], subdomain: 'office') %>" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Account to Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Package price: <%= @package.current_package["price"] %></p>
        <p> <%= number_to_currency 25 %> activation will be applied on package activation</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Activate</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    </form>
  </div>
</div>
