<table>
  <thead>
    <tr>
      <th>Sr. No</th>
      <th>Date</th>
      <th>Username</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Gateway</th>
      <th>Status</th>
      <th>URL</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.all.each.with_index do |transaction, i| %>
      <tr>
        <% index = i + 1%>
        <td><%= ((params[:page] || 1).to_i - 1).times.map {5}.sum + index %></td>
        <td><%= transaction.created_at.strftime("%b. %e %Y") %></td>
        <td><%= transaction.user.try(:username) %></td>
        <td><%= transaction.user.try(:email) %></td>
        <td><%= transaction.logable.try(:pts) rescue nil %></td>
        <td><%= transaction.user.try(:withdraw_gateway) %></td>
        <td><%= transaction.logable.try(:status) rescue nil %></td>
        <td><%= transaction.message %></td>
      </tr>
    <% end %>
    <%= will_paginate @transactions.all %>
  </tbody>
</table>
