<main class="main">
  <div class="main-content">
    <!-- Content Block 1 Start -->
    <div class="main-content-block">
      <div class="heading">
        <h2>Widthdrawal History</h2>
      </div>
      <div class="main-content-body">
        <div class="history-widthdrawal-holder">
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>From</th>
              <th>To</th>
              <th>Transaction Type</th>
              <th>Transaction Amount</th>
              <th>Transaction Status</th>
            </tr>
            </thead>
            <tbody>
            <%- current_user.user_transactions.each do |transaction|%>
              <tr>
                <td><%=transaction.created_at.strftime("%b. %e %Y")%></td>
                <td><%=transaction.user.try(:username)%></td>
                <td><%=transaction.receiver.try(:username)%></td>
                <td><%=transaction.try(:wallet_type).gsub("_", " ").capitalize%></td>
                <td><%=transaction.try(:amount).to_f%></td>
                <td><%=transaction.try(:status).nil? ? "Approved" : "Declined"%></td>
              </tr>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Content Block 1 End -->
  </div>
</main>
