<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="content">
        <h1><%=image_tag "heading-affiliate.png", class: "img-center img-responsive" %></h1>
        <p>Forex Home Trade has designed a system which includes combined features of affliate Program and MLM, in which you can promote out services through website or social media as well as can build a strong MLM Team to Turn your Dreams into Reality.</p><br><br>
        <h2><%=image_tag "heading-referral.png", class: "img-responsive"%></h2>
        <p>Direct Referral Bonus Is Paid Every Time You Indicate A New Member With The Package By Your Direct Reference In Your Network, The Company Will Pay You 8% Of The Package.</p>
        <div class="row" style="padding-bottom:50px;">
          <div class="col-md-5">
            <table border="1px solid #000" cellpadding="15" width="80%">
              <tr>
                <td align="left" valign="middle" style="color:#000; width:70%; padding:10px;">Right Side Bonus</td>
                <td align="center" valign="middle" style="color:#000;">400$</td>
              </tr>
              <tr>
                <td align="left" valign="middle" style="color:#000; width:70%; padding:10px;">Left Side Bonus</td>
                <td align="center" valign="middle" style="color:#666666;">800$</td>
              </tr>
              <tr>
                <td align="left" valign="middle" style="color:#000; width:70%; padding:10px;">Total Bonus</td>
                <td align="center" valign="middle" style="color:#000;">12,00 $</td>
              </tr>
            </table>
          </div>
          <div class="col-md-7">
            <%=image_tag "pic-bonus.png", class: "img-responsive float-left"%>
          </div>
        </div><br>

        <div class="row">
          <div class="col-12"><h2 style="padding: 0 0 5px 0;"><%=image_tag "heading-income.png", class: "img-responsive"%></h2></div>
          <div class="col-md-6">
            <p style="text-align:justify">You can earn Indirect income for each member who decided to join under your team up to your 6th level. Binary activation is must to receive Indirect Bonus.</p>
          </div>
          <div class="col-md-6">
            <table cellpadding="5" cellspacing="1">
              <tr>
                <th align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">LEVEL 1</th>
                <th align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">LEVEL 2</th>
                <th align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">LEVEL 3</th>
                <th align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">LEVEL 4</th>
                <th align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">LEVEL 5</th>
                <th align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">LEVEL 6</th>
              </tr>
              <tr>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">2.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">2.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">2.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">2.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">2.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">2.0%</td>
              </tr>
              <tr>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
              </tr>
              <tr>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">1.0%</td>
              </tr>
              <tr>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">1.0%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">1.0%</td>
              </tr>
              <tr>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">0.50%</td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">0.50%</td>
              </tr>
              <tr>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle" style="color:#fff; background-color:#000; border:2px solid #fff; padding: 5px;">0.50%</td>
              </tr>
            </table>
          </div>
          <h2><%=image_tag "pic-indirect.png", class: "img-responsive"%></h2>
          <h2><%=image_tag "heading-binary.png", class: "img-responsive"%></h2>
          <p style="text-align:justify;">Real Network power is based on duplication. In Forex Home Trade you will get 50% Binary Bonus on points (12% of Sale). Build two teams and receive up to 50% commission of the Binary points on the smaller of the two teams(Left Team Business Right Team Business).Team bonus is calculated Daily and can increase your momentum dramatically because everyone is working together. Binary activation is must to receive Binary Bonus.</p>
          <div class="col-12" style="margin-bottom:40px;"><h2><%=image_tag "pic-binary.png", class: "img-responsive"%></h2></div>
          <div class="col-12"><h2 style="text-align:center; margin-bottom:10px;"><%=image_tag "heading-binary-points.png", class: "img-center"%></h2></div>
          <div class="row" style="margin-bottom:70px;">
            <div class="col-md-4">
              <%=image_tag "package-starter.png", class: "img-responsive"%>
            </div>
            <div class="col-md-4">
              <%=image_tag "package-basic.png", class: "img-responsive"%>
            </div>
            <div class="col-md-4">
              <%=image_tag "package-advance.png", class: "img-responsive"%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2><%=image_tag "heading-rank.png", class: "img-responsive"%></h2>
              <p style="text-align:justify;">Forex Home Trade has Easy Ranks and Reward System. Ranks are based on weaker Leg Points (Sale).Rewards will be paid in cash Instantly when you will qualify.</p>
            </div>
            <div class="col-md-6">
              <table cellpadding="10" cellspacing="2" style="margin-top:10px;">
                <tr>
                  <th align="center" valign="middle" style="color: #fff;
                      font-size: 25px;
                      font-weight: 500;
                      border: 2px solid #fff;
                      padding: 5px 50px;
                      background:url(<%=image_path('bg-heading-table.png')%>) repeat-x left top;">Ranks</th>
                  <th align="center" valign="middle" style="color:#fff; font-size:20px; font-weight:500; border:2px solid #fff; padding:5px 35px; background:url(<%=image_path('bg-heading-table.png')%>) repeat-x left top;">Points</th>
                  <th align="center" valign="middle" style="color:#fff; font-size:20px; font-weight:500; border:2px solid #fff; padding:5px 35px; background: url(<%=image_path('bg-heading-table.png')%>) repeat-x left top;">Reward</th>
                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px; padding: 8px; font-size: 20px;">Bronze</td>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>2,500</b></td>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Pin</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Silver</td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>7,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">500$</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Gold</td>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>14,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">1,000$</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Ruby</td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>70,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">5,000$</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Emerald</td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>1,40,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">10,000$</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Diamond</td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>3,00,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">20,000$</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Director</td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>7,00,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">50,000$</td>

                </tr>
                <tr>
                  <td align="center" valign="middle" style="color:#000; background: url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">Ambassador</td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;"><b>14,00,000</b></td>
                  <td align="center" valign="middle" style="color:#000; background:url(<%=image_path("bg-heading-row.png")%>) repeat-x left top; border:2px solid #fff; padding: 8px; font-size: 20px;">100,000$</td>

                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">