<div class="container-fluid" style="margin-left:15px; margin-right:15px;">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%=image_tag "banner1.jpg"%>
        </div>

        <div class="item">
          <%=image_tag "banner2.jpg" %>
        </div>

        <div class="item">
          <%=image_tag "banner3.jpg" %>
        </div>
        <div class="item">
          <%=image_tag "banner4.jpg"%>
        </div>
        <div class="item">
          <%=image_tag "banner5.jpg" %>

        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div></div>
</div>

<div class="container-fluid">
  <div id="content">
    <div class="bg-1">
      <div class="container">
        <h1><%=image_tag "heading1.png", align: "middle"  %></h1>
        <%=image_tag "pic1.png", align: "left" %><p>Forex Trade is a fast-rising and technological platform that operates in Forex trading. We have built our services to every Investor, Trade and Promoter.Our Services are exceptionally fast, familiar, stable, and transparent. Forex Home Trade is a Company You can Trust. It's best opportunity that can generate immediate and long term income for its members. Forex Trading has high profit potential due to the leverage and margin trading options. Our goal is to provide people Financial and Time Freedom. The future of financial empowerment is right here in the heart of our company. With our services, we want to provide financial empowerment to every trader, investor and Promoter. Our Company is creating a unique and rewarding opportunity for any individual and company, who wants to be a part of a revolutionary financial future. Our team is a committed group of hardworking, talented and inspiring Professionals.At the heart of our team is the passion for creation, and building of an open, accessible and safe financial future. Our business model is customer focused, Our marketing and Rewards Program is structured in order to maintain a compliant company long-term.</p>
      </div>
    </div>
    <div class="bg-2">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <%=image_tag "heading2.png"%>
            <p>Master Degree in Financial Management and PhD in Financial Planning (UK)<br/>Passionate and Dedicated man having 16 years of experience in domestic and international financial derivatives sector and fund management.</p>
            <span class="quotes"><p>"I promise you that Forex Home Trade will grow as a stable, Long Term, Transparent and Secure Company.We will continue promoting the financial freedom of Investors, Traders and Promoters." (Christopher Lim)</p></span>
          </div>
          <div class="col-md-4">
            <%=image_tag "pic-ceo.png"  %><h3>CEO CHRISTOPHER LIM</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-3">
      <div class="container">
        <div class="row border-btm">
          <div class="col-sm-12"><h2><%=image_tag "heading3.png" %></h2></div>
          <div class="col-lg-7">
            <ul>
              <li>To have honesty, integrity and professionalism as our guiding light.</li>
              <li>To provide you with a positive long-term capital gains experience and an advisor relationship built on personal trust and company-wide integrity.</li>
              <li>To have a substantial positive impact on the quality of our business partners (Investors, Traders, Promoters)</li>
              <li>To educate about money, Forex Trading, Trading Tools etc, and to build financial and business success.</li>
              <li>To Provide better services to our clients and fulfill out commitments.</li>
            </ul>
          </div>
          <div class="col-lg-5">
            <%=image_tag "pic3.png", class: "img-responsive centering" %>
          </div>
        </div>
        <div class="row border-btm">
          <div class="col-lg-5">
            <%=image_tag"pic4.png", class: "img-responsive" %><br>
          </div>
          <div class="col-lg-7">
            <%=image_tag "heading4.png", class: "img-responsive" %><br/>
            <p style="text-align: justify;">Forex, also known as foreign exchange, FX or currency trading, is a decentralized global market where all the world's currencies trade. The forex market is the largest, most liquid market in the world with an average daily trading volume exceeding $5 trillion. All the world's combined stock markets don't even come close to this.</p>
            <p>Forex markets are located all over the world, the largest centers are in London (UK), New York (USA), Tokyo (Japan), Hong Kong, Singapore and Frankfurt (Germany).</p>
          </div>
        </div>
        <div class="row"><h2 style="text-align: center; width: 100%;"><%=image_tag "heading5.png", class: "img-center"%></h2></div>
        <div class="row trading">
          <div class="col-lg-3 text-center">
            <%=image_tag "icon-currency.png", align: "middle", class: "img-responsive img-center" %>
            <h3>Currencies</h3>
            <p>Currencies allow you to make money on almost all the events in the world. Currency quotes change every minute, 24 hours a day, 5 days a week. Each fluctuation is — a potential profit. Instead of just changing currencies, trade them! Join and benefit from currencies such as the Euro, Pound or Dollar.</p>
          </div>
          <div class="col-lg-3 text-center">
            <%=image_tag "icon-stock.png", align: "middle", class: "img-responsive img-center" %>
            <h3>Stocks</h3>
            <p>Invest into real business! Shares allow you to make money on long-term investments into securities of the world’s largest companies (for example, Apple, Google,Tesla etc.), as well as make income on short-term trend changes of these shares prices. Enjoy leveraged trading on world famous shares in a user-friendly, professional trading environment.</p>
          </div>
          <div class="col-lg-3 text-center">
            <%= image_tag "icon-oil.png", align: "middle", class: "img-responsive img-center" %>
            <h3>Oil and Gas</h3>
            <p>Different benchmarks of oil, natural gas and heating oil. Trading instruments with a high volatility and a good potential for making money on investing both in the short terem and the long term. Trading commodities like Oil, Gold and Silver that are constantly in the news is always a good place to start.</p>
          </div>
          <div class="col-lg-3 text-center">
            <%=image_tag "icon-metal.png", align: "middle", class: "img-responsive img-center" %>
            <h3>Metals</h3>
            <p>Gold and silver are traditional investor assets which help to stabilize trading portfolio. Metals have a higher earning potential than many currency pairs. Trading commodities like Oil, Gold and Silver that are constantly in the news is always a good place to start.</p>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="bg-4">-->
      <!--<div class="container">-->
        <!--<div class="row"><h2 style="text-align: center; width: 100%;"><%=image_tag "heading5.png", class: "img-center" %></h2></div>-->
        <!--<div class="row">-->
          <!--<div class="col-lg-3 text-center">-->
            <!--<h2><%=image_tag "icon-currency.png", align: "middle", class: "img-responsive img-center" %></h2>-->
            <!--<h3>Currencies</h3>-->
            <!--<p>Currencies allow you to make money on almost all the events in the world. Currency quotes change every minute, 24 hours a day, 5 days a week. Each fluctuation is -&#45;&#45; a potential profit. Instead of just changing currencies, trade them! Join and benefit from currencies such as the Euro, Pound or Dollar.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-3 text-center">-->
            <!--<h2><%=image_tag "icon-stock.png", align: "middle", class: "img-responsive img-center" %></h2>-->
            <!--<h3>Stocks</h3>-->
            <!--<p>Currencies allow you to make money on almost all the events in the world. Currency quotes change every minute, 24 hours a day, 5 days a week. Each fluctuation is -&#45;&#45; a potential profit. Instead of just changing currencies, trade them! Join and benefit from currencies such as the Euro, Pound or Dollar.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-3 text-center">-->
            <!--<h2><%=image_tag "icon-oil.png", align: "middle", class: "img-responsive img-center"  %></h2>-->
            <!--<h3>Oil and Gas</h3>-->
            <!--<p>Currencies allow you to make money on almost all the events in the world. Currency quotes change every minute, 24 hours a day, 5 days a week. Each fluctuation is -&#45;&#45; a potential profit. Instead of just changing currencies, trade them! Join and benefit from currencies such as the Euro, Pound or Dollar.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-3 text-center">-->
            <!--<h2><%=image_tag "icon-metal.png", align: "middle", class: "img-responsive img-center" %></h2>-->
            <!--<h3>Metals</h3>-->
            <!--<p>Currencies allow you to make money on almost all the events in the world. Currency quotes change every minute, 24 hours a day, 5 days a week. Each fluctuation is -&#45;&#45; a potential profit. Instead of just changing currencies, trade them! Join and benefit from currencies such as the Euro, Pound or Dollar.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="bg-5">
      <div class="container">
        <div class="row"><h2 style="text-align: center; width: 100%; padding-top:30px;"><%=image_tag "heading6.png", class: "img-responsive img-center" %></h2></div>
        <div class="row">
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan1.png", align: "middle", class: "img-responsive img-center" %></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan2.png", align: "middle",  class: "img-responsive img-center" %></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan3.png", align:"middle", class:"img-responsive img-center" %></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 offset-sm-2 text-center">
            <a href="#"><%=image_tag "plan4.png", align: "middle", class: "img-responsive img-center" %></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan5.png", align: "middle", class: "img-responsive img-center" %></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan6.png", align: "middle", class: "img-responsive img-center" %></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan7.png", align: "middle", class: "img-responsive img-center" %></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href="#"><%=image_tag "plan8.png", align: "middle",  class: "img-responsive img-center" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row clients" style="margin-left: -15px; margin-right: -15px;">
      <div class="col-sm-2 img-center"><%=image_tag "client1.png" %></div>
      <div class="col-sm-2 img-center"><%=image_tag "client2.png" %></div>
      <div class="col-sm-2 img-center"><%=image_tag "client3.png" %></div>
      <div class="col-sm-3 img-center"><%=image_tag "client4.png" %></div>
      <div class="col-sm-3 img-center"><%=image_tag "client5.png" %></div>
    </div>
  </div>
  <div class="container">
    <div class="row"><%=image_tag "best-choice.png", class: "img-responsive"  %></div>
  </div>
</div>





