<!--====== HEADER PART START ======-->

<header class="header-area">
  <div class="header-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="<%= root_path %>">
                <%= image_tag "landing_logo.png" %>
              </a>
              <!-- logo -->

              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="<%= root_path %>">Home</a>
                    <!-- Clase para resaltar los apartados: active -->
                  </li>
                  <li class="nav-item navbar-nav">
                    <a class="nav-link" href="#que">¿QUÉ ES DNET?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#comunidad">Comunidad</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contract">Smart Contract</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#social">Red Social</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#token">DNET Token</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#ventajas">ventajas</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#preguntas">preguntas</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= root_path %>">
                      <%= image_tag "espana.png",alt: "SPA", width: "40", height: "40", class: "idioma" %>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= root_path %>">
                      <%= image_tag "reino-unido.png", alt: "EN", width: "40", height: "40", class: "idioma" %>
                    </a>
                  </li>
                  </li>
                </ul>
              </div> <!-- navbar collapse -->
              <div class="navbar-btn d-none d-sm-flex">
                <ul>
                  <li><a class="main-btn main-btn-2" href="<%=new_user_session_url(subdomain: 'office') %>">INICIAR SESION</a></li>
                  <li><a class="main-btn-2 main-btn" href="<%= users_sign_up_url(subdomain: 'office')%>">REGISTRARSE</a></li>
                </ul>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button> <!-- navbar toggler -->
            </nav>
          </div> <!-- navigation -->
        </div>
      </div>
    </div>
  </div>
</header>

<!--====== HEADER PART ENDS ======-->

<!--====== BANNER PART START ======-->

<section class="banner-area bg_cover" style="background-image: url(<%=image_url("dnetmain.jpg")%>);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="banner-content text-center">
          <h1 class="title">DNET TOKEN <br>Basado en la única <br>
            Red Social trazada en Blockchain</h1>
          <ul>
            <li><a class="main-btn main-btn-2" href="WHITEPAPER/DNETWHITEPAPERvs1.pdf" download="WHITEPAPER SPANISH.pdf">WHITEPAPER </a></li>
            <li><a class="main-btn main-btn-2" href="#"> COMPRAR TOKENS 20-01-2022</a></li>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="social">
    <ul>
      <li><a href="https://www.instagram.com/dnetofficial_/?hl=es"><i class="fab fa-instagram"></i>
      <li><a href="https://twitter.com/official_dnet"><i class="fab fa-twitter"></i></li></a>
      <li><a href="https://www.reddit.com/user/DNET_OFFICIAL"><i class="fab fa-reddit"></i></a></li>
      <li><a href="https://www.facebook.com/DNET-107987368413359"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="https://discord.com/channels/923189403814354944/923189403814354946"><i class="fab fa-discord"></i></a></li>


      <!-- <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
    </ul>
  </div>
</section>

<!--====== BANNER PART ENDS ======-->

<!--====== dnet FEATURES PART START ======-->

<section class="dnet-features-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="dnet-features-item text-center mt-30">
          <%= image_tag "icon-TOKEN BEP20.png", alt: "icon"%>
          <h3 class="title">TOKEN BEP20</h3>
          <p>DNET ofrece un token basado en la BEP-20 NETWORK de Binance Smart Chain.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="dnet-features-item text-center mt-30">
          <%= image_tag "icon-Red social DNET.png", alt: "icon" %>
          <h3 class="title">SOCIAL DNET</h3>
          <p>DNET es la única red profesional crypto comunitaria con herramientas optimizadas en una integración híbrida.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="dnet-features-item text-center mt-30 item-3">
          <%= image_tag "icon/icon-SEGURO Y TRANSPARENTE.png", alt: "icon" %>
          <h3 class="title">SWAPPING-MULTICHAIN</h3>
          <p>DNET&nbsp; dispondrá de su propia Multichain Offer en la que se podrán generar acciones de SWAPPING y multitud de opciones descentralizadas.&nbsp;&nbsp;
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====== dnet FEATURES PART ENDS ======-->

<!--====== dnet TRADE PART START ======-->

<section id="que" class="dnet-trade-area pt-190">
  <div class="item-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="dnet-trade-thumb move">
            <%= image_tag "DNET3D.png", alt: "", class: "rounded img-fluid" %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="dnet-trade-content">
            <span>¿Qué ES DNET?</span>
            <h3 class="title">Una Red Social integral y dinámica  fusionando el&nbsp; comercio de criptomonedas y la social media</h3>
            <p>Decentralized Network (DNET) es una red social descentralizada, rápida y segura destinada al entorno crypto, que será el enlace entre miles de usuarios para realizar transacciones tanto en criptomonedas como en fiat. </p>
            <div class="trade-item mt-30">
              <%= image_tag "MISION-ICON.png" %>
              <h5 class="title">NUESTRA MISIÓN</h5>
              <p>Nuestra misión es crear una sinergia en el sector de las redes sociales junto con la tecnología blockchain y las criptomonedas, convirtiéndolas en una herramienta que aumentará la adopción y sostenibilidad del sector crypto para todo tipo de usuarios ya sean vinculados o desvinculados del mismo.</p>
            </div>
            <div class="trade-item mt-30">
              <%= image_tag "VISION-ICON.png" %>
              <h5 class="title">NUESTRA VISIÓN</h5>
              <p>DNET tiene como objetivo vincular a los usuarios de criptomonedas a las redes de una forma segura e intuitiva, permitiendo que tanto profesionales como influencers o empresas que busquen sinergias laborales, puedan conseguir nuevas oportunidades de negocio. </p>
            </div>
            <div class="trade-item mt-30">
              <%= image_tag "FUTURO-ICON.png" %>
              <h5 class="title">EL FUTURO</h5>
              <p>DNET ha llegado para romper el status quo de la tecnología blockchain, al ser la primera red social que encuentra el sector crypto de forma organizada y con una arquitectura flexible y escalable. En el ecosistema de DNET el principal target es la alianza con todas las posibles comunidades y redes profesionales del sector BLOCKCHAIN </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="comunidad" class="item-1 item-2 mt-180">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="dnet-trade-content">
            <span>Nuestra Comunidad</span>
            <h3 class="title">Impulsados por una Comunidad Experta en Crypto</h3>
            <p>Nuestra comunidad estará&nbsp; formada por una red de influencers y formadores expertos en crypto que educarán&nbsp; a usuarios interesados en aprender sobre esta tecnología.</p>
            <div class="trade-about-follow mt-30">
              <h4 class="title">Síguenos</h4>
              <p>Síguenos en nuestras redes sociales</p>
              <ul>
                <li><a href="https://www.reddit.com/user/DNET_OFFICIAL"><i class="fab fa-reddit"></i></a></li>
                <li><a href="https://www.facebook.com/DNET-107987368413359"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://discord.com/channels/923189403814354944/923189403814354946"><i class="fab fa-discord"></i></a></li>
                <li><a href="https://twitter.com/official_dnet"><i class="fab fa-twitter"></i></a></li>
                <!-- <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="dnet-trade-thumb move der">
            <%= image_tag "SOCIAL3D.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contract" class="item-1 mt-165">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="dnet-trade-thumb move">
            <%= image_tag "BEP201.png" %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="dnet-trade-content">
            <span>SMART CONTRACT</span>
            <h3 class="title">Desarrollado en el Contrato con mayor funcionalidad y transparencia del mercado</h3>
            <p>DNET es un token estándar basado en BEP-20 de Binance Smart Chain.</p>
            <div class="trade-contracts mt-30">
              <i class="far fa-check-double"></i>
              <p>Este estándar garantiza la funcionalidad básica de los tokens, como la transferencia, la devolución del saldo, la visualización de la propiedad de los tokens, entre muchas características más.
              </p>
            </div>
            <div class="trade-contracts mt-30">
              <i class="far fa-check-double"></i>
              <p>NETWORK que especifica cómo se gasta un token, quién lo gasta, dónde se gasta y también su uso genérico.</p>
            </div>
            <div class="trade-contracts mt-30">
              <i class="far fa-check-double"></i>
              <p>Por lo tanto, es el más idóneo para nuestra compañía para mantener un token de utilidad que traerá consigo una revolución uniendo el mercado de las redes sociales y las criptomonedas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dnet-color">
      <%= image_tag "shape/color-bg.png" %>
    </div>
  </div>
  <div id="social" class="item-1 item-4 mt-185">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="dnet-trade-content">
            <span>RED SOCIAL</span>
            <h3 class="title">Escalable, Transacciones Rápidas y Ultra Seguras.</h3>
            <p>DNET será la&nbsp; única RED SOCIAL integral, dinámica y profesional&nbsp; que pueda tratar los comentarios y propósitos del día a día, así como&nbsp; poder transferir o localizar tus fondos en tu propia cartera multichain. </p>
            <div class="trade-contracts mt-30">
              <i class="far fa-check-double"></i>
              <p>Es la red que servirá de plataforma entre influencers, gamers, profesionales y usuarios potenciales con unas determinadas características propias, lo que hará que se diferencie del resto de las redes del mercado creando una adopción de los usuarios crypto y de aquellos que se encuentran desligados del entorno blockchain.
              </p>
            </div>
            <div class="trade-contracts mt-30">
              <i class="far fa-check-double"></i>
              <p>DNET ofrece distintas soluciones como SWAPPING CRYPTO, COMPRA&nbsp; FIAT  y STAKING &nbsp; entre otras. Los&nbsp; &nbsp; &nbsp;sistemas de referidos en varios niveles, los pagos en diferentes networks, así como también funciones más&nbsp; específicas y premium&nbsp; &nbsp;de una social media serán herramientas interactivas que todo usuario querrá disponer. Además de quedar fortalecida su comunidad por un potente y atractivo Utility token como forma segura de pago y bajo costo.
              </p>
            </div>
            <div class="trade-contracts mt-30">
              <i class="far fa-check-double"></i>
              <p>Al ser una plataforma basada en una blockchain híbrida, DNET ofrece una flexible y escalable arquitectura, que permitirá procesar miles de transacciones por segundo sin interrupción, bien sea con CRYPTO o en el futuro roadmap con FIAT.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="dnet-trade-thumb move der">
            <%= image_tag "ABOUTUS3D.png", width: "1270" %>
<!--            <img src="assets/images/ABOUTUS3D.PNG" alt="" width="1270">-->
          </div>
        </div>
      </div>
    </div>
    <div class="dnet-color">
      <%= image_tag "shape/color-bg-2.png" %>
    </div>
  </div>
  <div id="token" class="item-1 mt-185 mb-195">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="dnet-trade-thumb move">
            <%= image_tag "dnettoken3d2.png" %>
<!--            <img src="assets/images/dnettoken3d2.png" alt="">-->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="dnet-trade-content">
            <span>DNET TOKEN</span>
            <h3 class="title">DNET Usabilidad dentro y fuera de la Plataforma</h3>
            <p>El Token DNET garantiza&nbsp; a través de la  BEP-20 Network  transacciones rápidas, bajo costo y seguras. Con la posibilidad única de transferir internamente sin costo alguno dentro de la plataforma - red social DNET.
            </p>
            <div class="trade-item mt-30">
              <%= image_tag "icon/ICON-SEGURIDAD-TOKEN.png" %>
<!--              <img src="assets/images/icon/icon-seguridad-token.png" alt="">-->
              <h5 class="title">Seguridad</h5>
              <p>Nos destacamos por desarrollar una  blockchain híbrida descentralizada, que además dispondrá de un híbrido de sistema conexionado para poder trazar compras futuras en FIAT.</p>
            </div>
            <div class="trade-item mt-30">
              <%= image_tag "icon/icon-SEGURO Y TRANSPARENTE.png", alt: "", width: "79", height: "73" %>
<!--              <img src="assets/images/icon/icon-SEGURO Y TRANSPARENTE.png" alt="" width="79" height="73">-->
              <h5 class="title">STAKING</h5>
              <p>DNET TOKEN, ofrece la posibilidad de poder gestionar tus tokens en la red transfiréndolos a un plan de staking en el que el volumen de los mismos se verá incrementado dependiendo del modelo que selecciones. Descárgate nuestro whitepaper y descubre los planes.</p>
            </div>
            <div class="trade-item mt-30">
              <%= image_tag "icon/VENTAJAS-ICON-01.png" %>
<!--              <img src="assets/images/icon/VENTAJAS-ICON-01.png" alt="">-->
              <h5 class="title">SWAPPING</h5>
              <p>DNET TOKEN, así como muchos otros disponibles en la multichain de DNET dispondrá de opciones de swapping sin tener que desvincularte de nuestra red social. El trazado blockchain confirma la seguridad de las transacciones que se procesarán dentro de la red.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dnet-color">

    </div>
  </div>
</section>

<!--====== dnet TRADE PART ENDS ======-->

<!--====== BENEFITS PART START ======-->

<section id="ventajas" class="banefits-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-title text-center">
          <span>VENTAJAS</span>
          <h3 class="title">Conoce las funciones y ventajas claves de nuestra plataforma.</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="banefits-item mt-30">
          <%= image_tag "icon/VENTAJAS-ICON-01.png" %>
<!--          <img src="assets/images/icon/VENTAJAS-ICON-01.png" alt="icon">-->
          <h4 class="title">VELOCIDAD Y ESCABILIDAD</h4>
          <p>Permitimos el procesamiento de miles de transacciones por segundo, al mismo tiempo y en segundos sin interrumpirse entre sí.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="banefits-item mt-30">
          <%= image_tag "icon/VENTAJAS-ICON-02.png" %>
<!--          <img src="assets/images/icon/VENTAJAS-ICON-02.png" alt="icon">-->
          <h4 class="title">gran db</h4>
          <p>Co-Ayuda a que los ecosistemas crezcan y eventualmente sean adoptados por miles de personas más siendo una base que se encuentra en contínuo crecimiento masivo.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="banefits-item mt-30">
          <%= image_tag "icon/VENTAJAS-ICON-03.png" %>
<!--          <img src="assets/images/icon/VENTAJAS-ICON-03.png" alt="icon">-->
          <h4 class="title">ACCESIBILIDAD</h4>
          <p>DNET SOCIAL MEDIA dispone de características profesionales sencillas y accesibles, al tener las funciones como: publicación de posts, comentarios, mensajes directos, y amplias opciones descentralizadas.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="banefits-item mt-30">
          <%= image_tag "icon/VENTAJAS-ICON-04.png" %>
<!--          <img src="assets/images/icon/VENTAJAS-ICON-04.png" alt="icon">-->
          <h4 class="title">INTERFACES DE USUARIO INTUITIVAS</h4>
          <p>Permitimos  a los usuarios adaptarse fácilmente, comprar, holdear, swappear, o transferir CRYPTO desde cualquier parte del mundo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="banefits-btn text-center pt-100">
          <ul>
            <li><a class="main-btn main-btn-2" href="WHITEPAPER/DNETWHITEPAPERvs1.pdf" download="WHITEPAPER SPANISH.pdf">WHITEPAPER</a></li>
            <li><a class="main-btn main-btn-2" href="#">COMPRAR TOKENS 20-01-2022</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="banefits-color">
    <%= image_tag "shape/color-bg-3.png" %>
<!--    <img src="assets/images/shape/color-bg-3.png" alt="">-->
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== BENEFITS PART ENDS ======-->


<!--====== STAKEHOLDERS PART START ======-->

<section class="stakeholders-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-title text-center">
          <span>TOKENOMICS </span>
          <h3 class="title">Nuestra distribución DNET</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="stakeholders-btn mt-30">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
               aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
               role="tab" aria-controls="v-pills-home" aria-selected="true">TOKENOMICS</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
               role="tab" aria-controls="v-pills-profile" aria-selected="false">VENTA PUBLICA--10%</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
               role="tab" aria-controls="v-pills-messages" aria-selected="false">VENTA PRIVADA--11%</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
               role="tab" aria-controls="v-pills-settings" aria-selected="false">DESARROLLO--23%</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
               role="tab" aria-controls="v-pills-settings" aria-selected="false">FUNDADORES--10%</a>
            <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
               aria-controls="v-pills-5" aria-selected="false">TESORERIA & STAKING --30%</a>
            <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
               aria-controls="v-pills-5" aria-selected="false">BOUNTY Y PROMOCION--11%</a>
            <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
               aria-controls="v-pills-5" aria-selected="false">RECOMPENSAS--3%</a>
            <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
               aria-controls="v-pills-5" aria-selected="false">ASESORIA--2%</a>
          </div>
        </div>
        <div class="stakeholders-price">
          <ul>
            <li>
              <span>Precio Actual</span>
              <p>1 DNET = 0.0025 $</p>
            </li>
            <li>
              <span>Total Suministro</span>
              <p>110.000.000.000 DNET</p>
            </li>
          </ul>
        </div>
        <div class="stakeholders-price">
          <ul>
            <li>
              <span>VENTA PRESALE ( 24 ENERO 2022 - 19 MAYO 2022 )</span>
              <p>8.000.000.000 DNET</p>
              <span>VENTA SALE ( 20 MAYO 2022 - 15 SEPTIEMBRE 2022 ) </span>
              <p>3.000.000.000 DNET</p>
            </li>
            <li>
              <span>COSTE PRESALE</span>
              <p>0.0025 USD</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
               aria-labelledby="v-pills-home-tab">
            <div class="stakeholders-thumb mt-55">
              <%= image_tag "chartblack.png" %>
<!--              <img src="assets/images/chartblack.png" alt="">-->
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
               aria-labelledby="v-pills-profile-tab">
            <div class="stakeholders-thumb mt-55">
              <%= image_tag "chartblack.png" %>
<!--              <img src="assets/images/chartblack.png" alt="">-->
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
               aria-labelledby="v-pills-messages-tab">
            <div class="stakeholders-thumb mt-55">
              <%= image_tag "chartblack.png" %>
<!--              <img src="assets/images/chartblack.png" alt="">-->
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
               aria-labelledby="v-pills-settings-tab">
            <div class="stakeholders-thumb mt-55">
              <%= image_tag "chartblack.png" %>
<!--              <img src="assets/images/chartblack.png" alt="">-->
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
            <div class="stakeholders-thumb mt-55">
              <%= image_tag "chartblack.png" %>
<!--              <img src="assets/images/chartblack.png" alt="">-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== STAKEHOLDERS PART ENDS ======-->






<!--====== STAKEHOLDERS PART START ======-->

<section class="stakeholders-area referidos">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1 order-2">
        <div class="dnet-trade-content">
          <span>REFERIDOS</span>
          <h3 class="title">AMPLIA TUS BENEFICIOS EN EL PROCESO ICO</h3>
          <p>Nivel 1: Genera beneficios sobre tus conocidos de 1,5% <br>Nivel 2: Genera beneficios sobre tus conocidos de  1% <br>Nivel 3: Genera beneficios sobre tus conocidos de  0,5% </p>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="dnet-trade-thumb move der">
          <%= image_tag "REFERRAL1.png" %>
<!--          <img src="assets/images/REFERRAL1.png" alt="">-->
        </div>
      </div>
    </div>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== STAKEHOLDERS PART ENDS ======-->










<!--====== DOCUMENTS PART START ======-->

<section class="documents-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <span>Whitepaper </span>
          <h3 class="title">Descárgate nuestro Whitepaper</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="documents-item mt-30">
          <div class="documents-thumb text-center">
            <a class="main-btn" href="WHITEPAPER/DNETWHITEPAPERvs1.pdf" download="WHITEPAPER SPANISH.pdf">Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== DOCUMENTS PART ENDS ======-->

<!--====== FUTURE ROADMAP PART START ======-->

<section class="future-roadmap">
  <div class="section-title section-title-2 text-center">
    <span>Sigue nuestro Roadmap</span>
    <h3 class="title">ROADMAP&nbsp;</h3>
  </div>
  <div class="container">

    <div class="swiper-container roadmap-main">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide roadmap-main-slide">
          <div class="swiper-container roadmap-sec">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide roadmap-sec-slide active">
                <div class="content">
                  <div class="content-wrapper">
                    <h6>Q3-2021</h6>
                    <ul>
                      <li>Proceso investigación RRSS</li>
                      <li>Esquema financiero</li>
                      <li>GAPs mercado</li>
                      <li>Diseño e interpretación de mercado</li>
                    </ul>
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-wrapper-text">
                        <span>Progreso</span>
                        <span>5%</span>
                      </div>
                      <div class="progress-bar-wrapper-actual"></div>
                    </div>
                  </div>
                </div>
                <div class="circle-div">
                  <h6>2021</h6>
                  <div class="circle"></div>
                </div>
              </div>
              <div class="swiper-slide roadmap-sec-slide">
                <div class="content">
                  <div class="content-wrapper">
                    <h6>Q4-2021</h6>
                    <ul>
                      <li>Formalización de idea y gestión de recursos</li>
                      <li>Capitalización inicial e inversión</li>
                      <li>Comienzo de Arquitectura y Whitepaper</li>
                      <li>Comienzo del desarrollo MVP</li>
                      <li>Desarrollo de plataforma ICO</li>
                      <li>Desarrollo Social Media e Integración Blockchain</li>
                    </ul>
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-wrapper-text">
                        <span>Progreso</span>
                        <span>10%</span>
                      </div>
                      <div class="progress-bar-wrapper-actual"></div>
                    </div>
                  </div>
                </div>
                <div class="circle-div">
                  <h6>2021</h6>
                  <div class="circle"></div>
                </div>
              </div>
              <div class="swiper-slide roadmap-sec-slide">
                <div class="content">
                  <div class="content-wrapper">
                    <h6>Q1-2022</h6>
                    <ul>
                      <li>Finalización Plataforma ICO</li>
                      <li>Desarrollo integral de Bóveda Crypto DNET</li>
                      <li>Desarrollo primer CAP de Social Media</li>
                      <li>Lanzamiento ICO Presale</li>
                      <li>Comienzo Venta Privada</li>
                    </ul>
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-wrapper-text">
                        <span>Progreso</span>
                        <span>24%</span>
                      </div>
                      <div class="progress-bar-wrapper-actual"></div>
                    </div>
                  </div>
                </div>
                <div class="circle-div">
                  <h6>2022</h6>
                  <div class="circle"></div>
                </div>
              </div>
              <div class="swiper-slide roadmap-sec-slide">
                <div class="content">
                  <div class="content-wrapper">
                    <h6>Q2-2022</h6>
                    <ul>
                      <li>Finalización Social Media</li>
                      <li>Desarrollo integral opciones DEX</li>
                      <li>Integración módulos DEX</li>
                      <li>Testing integración módulos Blockchain</li>
                      <li>Finalización Presale</li>
                      <li>Lanzamiento Sale</li>
                    </ul>
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-wrapper-text">
                        <span>Progreso</span>
                        <span>44%</span>
                      </div>
                      <div class="progress-bar-wrapper-actual"></div>
                    </div>
                  </div>
                </div>
                <div class="circle-div">
                  <h6>2022</h6>
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide roadmap-main-slide">
          <div class="swiper-container roadmap-sec">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide roadmap-sec-slide">
                <div class="content">
                  <div class="content-wrapper">
                    <h6>Q3-2022</h6>
                    <ul>
                      <li>Venta Sale de ICO</li>
                      <li>Finalización de desarrollo Social Media</li>
                      <li>Comienzo desarrollo Opciones Blockchain</li>
                    </ul>
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-wrapper-text">
                        <span>Progreso</span>
                        <span>74%</span>
                      </div>
                      <div class="progress-bar-wrapper-actual"></div>
                    </div>
                  </div>
                </div>
                <div class="circle-div">
                  <h6>2022</h6>
                  <div class="circle"></div>
                </div>
              </div>
              <div class="swiper-slide roadmap-sec-slide">
                <div class="content">
                  <div class="content-wrapper">
                    <h6>Q4-2022</h6>
                    <ul>
                      <li>Finalización ICO</li>
                      <li>Listado en Exchange top 25</li>
                      <li>Actualización y opciones Blockchain</li>
                      <li>Finalización Integración Swapping</li>
                    </ul>
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-wrapper-text">
                        <span>Progreso</span>
                        <span>100%</span>
                      </div>
                      <div class="progress-bar-wrapper-actual"></div>
                    </div>
                  </div>
                </div>
                <div class="circle-div">
                  <h6>2022</h6>
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="baseline"></div>
  <div class="roadmap-main-arrow roadmap-main-prev">
    <i class="fas fa-angle-left"></i>
  </div>
  <div class="roadmap-main-arrow roadmap-main-next">
    <i class="fas fa-angle-right"></i>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
  <div class="roadmap-map">
    <%= image_tag "roadmap-map.png" %>
<!--    <img src="assets/images/roadmap-map.png" alt="">-->
  </div>
</section>

<!--====== FUTURE ROADMAP PART END ======-->

<!--====== TEAM PART START ======-->

<section class="team-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-title text-center">
          <span>Nuestro Equipo</span>
          <h3 class="title">DNET TEAM</h3>
        </div>
      </div>
    </div>
    <div class="row centro">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-item mt-40">
          <div class="team-thumb">
            <%= image_tag "alejandro.jpg", alt: "team" %>
<!--            <img src="assets/images/alejandro.jpg" alt="team">-->
          </div>
          <div class="team-content">
            <ul>
              <li><a href="https://www.linkedin.com/in/alejandro-d%C3%ADaz-90878715a/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <h4 class="title">ALEJANDRO DIAZ</h4>
            <span>FUNDADOR, CEO</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-item mt-40">
          <div class="team-thumb">
            <%= image_tag "enrique-web-dnet.jpg", alt: "team" %>
<!--            <img src="assets/images/enrique-web-dnet.jpg" alt="team">-->
          </div>
          <div class="team-content">
            <ul>
              <li><a href="https://www.linkedin.com/in/enrique-cabrera-campo-59a0ba1b7/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <h4 class="title">ENRIQUE CABRERA</h4>
            <span>FUNDADOR, COO</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-item mt-40">
          <div class="team-thumb">
            <%= image_tag "nicolas-web-dnet02.jpg", alt: "team" %>
<!--            <img src="assets/images/nicolas-web-dnet02.jpg" alt="team">-->
          </div>
          <div class="team-content">
            <ul>
              <li><a href="https://www.linkedin.com/in/nstambolsky/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <h4 class="title">Nicolás Stambolsky</h4>
            <span>Responsable&nbsp; FULL STACK&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center mt-75 pb-30">
                <h3 class="title">NUESTRO SECURITY BACK</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mt-40">
                <div class="team-thumb">
                    <img src="assets/images/piceng.png" alt="team">
                </div>
                <div class="team-content">
        <ul>
                        <li><a href="https://www.linkedin.com/in/nstambolsky/"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                    <h4 class="title">Nicolás Stambolsky</h4>
                    <span>Responsable&nbsp; FULL STACK&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mt-40">
                <div class="team-thumb">
                    <img src="assets/images/advsec-08.png" alt="team">
                </div>
                <div class="team-content">
                    <h4 class="title">Cristina Marín&nbsp;</h4>
                    <span>Diseño UI</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mt-40">
                <div class="team-thumb">
                    <img src="assets/images/advsec-10.png" alt="team">
                </div>
                <div class="team-content">
                    <h4 class="title">Julián González</h4>
                    <span>Blockchain Implementación&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mt-40">
                <div class="team-thumb">
                    <img src="assets/images/advsec-09.png" alt="team">
                </div>
                <div class="team-content">
                    <h4 class="title">Marcela Alonso&nbsp;</h4>
                    <span>Community Manager</span>
                </div>
            </div>
        </div>
    </div> -->
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== TEAM PART ENDS ======-->

<!--====== FAQ PART START ======-->

<section id="preguntas" class="faq-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <span>INFORMATE</span>
          <h3 class="title">FAQ PREGUNTAS FRECUENTES</h3>
          <p></p>
        </div>
        <div class="tab-content" id="pills-tabContent-2">
          <div class="tab-pane fade show active" id="pills-a" role="tabpanel"
               aria-labelledby="pills-a-tab">
            <div class="faq-accordion">
              <div class="accrodion-grp" data-grp-name="faq-accrodion">
                <div class="accrodion active  animated wow fadeInRight" data-wow-duration="1500ms"
                     data-wow-delay="0ms">
                  <div class="accrodion-inner">
                    <div class="accrodion-title">
                      <h4>¿Qué es DNET TOKEN?</h4>
                    </div>
                    <div class="accrodion-content">
                      <div class="inner">
                        <p>DNET token es el primer token destinado a generar la mayor velocidad y trazabilidad en los pagos en el entorno crypto social. Con su propia utilidad y volumen consolida un área del mercado generando profesionalmente equipos, grupos y muchas otras opciones.</p>
                      </div><!-- /.inner -->
                    </div>
                  </div><!-- /.accrodion-inner -->
                </div>
                <div class="accrodion   animated wow fadeInRight" data-wow-duration="1500ms"
                     data-wow-delay="300ms">
                  <div class="accrodion-inner">
                    <div class="accrodion-title">
                      <h4>¿Dónde puedo obtener DNET TOKEN?</h4>
                    </div>
                    <div class="accrodion-content">
                      <div class="inner">
                        <p>Exclusivamente la venta de DNET token será en la plataforma. Se procederá a la distribución únicamente cuando el proceso ICO finalice.</p>
                      </div><!-- /.inner -->
                    </div>
                  </div><!-- /.accrodion-inner -->
                </div>
                <div class="accrodion  animated wow fadeInRight" data-wow-duration="1500ms"
                     data-wow-delay="600ms">
                  <div class="accrodion-inner">
                    <div class="accrodion-title">
                      <h4>¿Qué utilidad tendrá DNET TOKEN?</h4>
                    </div>
                    <div class="accrodion-content">
                      <div class="inner">
                        <p>DNET establecerá una usabilidad dentro y fuera de la red social, generando alianzas con diferentes redes sociales para crear mayor interacción entre los usuarios. DNET busca formar parte de la primera red social en un entorno blockchain seguro y trazable</p>
                      </div><!-- /.inner -->
                    </div>
                  </div><!-- /.accrodion-inner -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== FAQ PART ENDS ======-->



<!--====== CONTACT PART START ======-->

<section id="contacto" class="contact-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <span>CONTACTANOS</span>
          <h3 class="title">PONTE EN CONTACTO CON DNET</h3>
          <p>¿Quieres más información? Ponte en contacto con nosotros.</p>
          <ul>

            <li><a href="mailto:info@d-net.io"><%= image_tag "icon/EMAIL.png", alt: "icon"%>
              info@d-net.io</a></li>
          </ul>
        </div>
      </div>
    </div>







  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png" %>
<!--    <img src="assets/images/shape/color-bg-4.png" alt="">-->
  </div>
</section>

<!--====== CONTACT PART ENDS ======-->

<!--====== FOOTER PART START ======-->

<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-list mt-30">
          <h4 class="title">Menu</h4>
          <ul>
            <li><a href="#nosotros">Sobre Nosotros</a></li>
            <li><a href="#social">DNET SOCIAL</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-list mt-30">
          <h4 class="title">DOCUMENTOS</h4>
          <ul>
            <li><a href="WHITEPAPER/DNETWHITEPAPERvs1.pdf" download="WHITEPAPER SPANISH.pdf">White Paper</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-list mt-30">
          <h4 class="title">legal</h4>
          <ul>
            <li><a download href="privacidad/politicaprivacidadES.pdf">Política de Privacidad</a></li>
            <li><p>Nombre de la compañia: DNET Group Limited</p></li>
            <li><p>ID: 13845076</p></li>
            <li><p>Ciudad: Londres, 130 Old Street</p></li>
            <!-- <li><a href="#">Condiciones de Uso</a></li>
            <li><a href="#">Política de Cookies</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-list mt-30">
          <h4 class="title">Newsletter</h4>


          <form method="post" action="phpmailer/newsletter_template_email.php" name="newsletter_form" id="newsletter_form">
            <div class="input-box">
              <input type="email" name="email_newsletter" id="email_newsletter" class="input-box" placeholder="Email">
              <button type="submit" id="submit-newsletter"><i class="fal fa-arrow-right"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="marcas">
        <div class="col-lg-3 col-md-6 col-sm-6 peque">
          <div class="team-item mt-40">
            <div class="team-thumb">
              <%= image_tag "advsec-04.png" %>
<!--              <img src="assets/images/advsec-04.png" alt="team">-->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 peque">
          <div class="team-item mt-40">
            <div class="team-thumb">
              <%= image_tag "advsec-05.png" %>
<!--              <img src="assets/images/advsec-05.png" alt="team">-->
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 peque">
          <div class="team-item mt-40 ">
            <div class="team-thumb">
              <%= image_tag "advsec-06.png" %>
<!--              <img src="assets/images/advsec-06.png" alt="team">-->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 peque">
          <div class="team-item mt-40">
            <div class="team-thumb">
              <%= image_tag "advsec-07.png" %>
<!--              <img src="assets/images/advsec-07.png" alt="team">-->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-copyright d-flex justify-content-between align-items-center">
          <p class="order-2 order-sm-1">©2021 DNET. All rights reserved</p>
          <ul class="order-1 order-sm-2">
            <li><a href="https://www.instagram.com/dnetofficial_/?hl=es"><i class="fab fa-instagram"></i>
            <li><a href="https://twitter.com/official_dnet"><i class="fab fa-twitter"></i></li></a>
            <li><a href="https://www.reddit.com/user/DNET_OFFICIAL"><i class="fab fa-reddit"></i></a></li>
            <li><a href="https://www.facebook.com/DNET-107987368413359"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://discord.com/channels/923189403814354944/923189403814354946"><i class="fab fa-discord"></i>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="banefits-color-2">
    <%= image_tag "shape/color-bg-4.png"%>
  </div>
</footer>

<a id="scroll_up"><i class="far fa-angle-up"></i></a>
