<!DOCTYPE html>
<html>
  <head>
    <title>ForexHomeTrade</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="header-top">
        <ul>
          <li>
            <%= link_to :new_user_session do %>
              <%= image_tag "btn-login.png" %>
            <% end %>
          </li>
          <li>
            <a href="#">
              <%= image_tag "btn-register.png" %>
            </a>
          </li>
        </ul>
      </div>
      <div class="container-fluid">
        <div class="row-fluid text-center">
          <div class="row">
            <div class="col-xs-3 col-sm-3" style="padding:0px;"></div>
            <div class="col-xs-9 col-sm-9" style="padding:0px;">
              <div class="logo">
                <%= image_tag "logo.png", class: "img-responsive centering" %>
              </div>
              <div>
                <a class="menu-nav-icon" data-menu="#main-menu"><i class="ion-navicon"></i></a>
                <ul class="main-menu" id="main-menu">
                  <li>
                    <a href="index.html">
                      <%= image_tag "home.png" %>
                    </a>
                  </li>
                  <li class="drop-down">
                    <a href="#">
                      <%= image_tag "about.png" %>
                      <i class="ion-arrow-down-b"></i>
                    </a>
                    <ul class="drop-down-menu drop-down-inner">
                      <li><a href="#">Forex Home Trade</a></li>
                      <li><a href="#">CEO</a></li>
                      <li><a href="#">Our Vision</a></li>
                      <li><a href="#">Why Us</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      <%= image_tag "forex.png" %>
                    </a>

                  </li>
                  <li class="drop-down">
                    <a href="#">
                      <%= image_tag "income.png" %>
                      <i class="ion-arrow-down-b"></i>
                    </a>
                    <ul class="drop-down-menu drop-down-inner">
                      <li><a href="#">Plans</a></li>
                      <li><a href="/affiliate_program">Affiliate Program</a></li>
                    </ul>
                  </li>
                  <li class="drop-down">
                    <a href="#"><img src="/assets/media.png" alt="media"><i class="ion-arrow-down-b"></i></a>
                    <ul class="drop-down-menu drop-down-inner">
                      <li><a href="#">Presentation</a></li>
                      <li><a href="#">Brochure</a></li>
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Videos</a></li>
                    </ul>
                  </li>
                  <li><a href="#"><img src="/assets/contact.png" alt="contact"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="display:none;">
        <div class="row">
          <div class="col-xs-2 col-sm-2" style="padding: 0px;"></div>
          <div class="col-xs-3 col-sm-3" style="padding: 0px;"><img src="/assets/header-left.gif" alt="header left"></div>
          <div class="col-xs-7 col-sm-7 float" style="padding: 0px;">
            <a class="logo" href="#"><img src="/assets/logo.png" alt="Logo"></a>
            <a class="menu-nav-icon" data-menu="#main-menu"><i class="ion-navicon"></i></a>
            <ul class="main-menu" id="main-menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Forex</a></li>
              <li><a href="#">Income</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">BackOffic</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>


    <%= yield %>
    <footer>
    <div class="footer-top">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo">
            <img src="/assets/logo.png" class="img-responsive centering">
          </div>
        </div>
        <div class="col-sm-4">
          <h2><img src="/assets/icon-information.png" class="img-responsive" /></h2>
          <ul>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Presentation</a></li>
            <li><a href="#">Packages</a></li>
            <li><a href="/affiliate_program">Affiliate Program</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h2><img src="/assets/icon-contact.png" class="img-responsive" /></h2>
          <ul>
            <li><a href="#"><i class="ion-social-facebook-outline"></i> www.forexhometrade.com</a></li>
            <li><a href="#"><i class="ion-social-facebook-outline"></i> www.office.forexhometrade.com</a></li>
            <li><a href="#"><i class="ion-email"></i> support@forexhometrade.com</a></li>
            <li><a href="#"><i class="ion-pin"></i> 1 Willengton Street, Central, Hong Kong</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="footer-btm">
      <ul class="social-icons float-right">
        <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
        <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
      </ul><!-- social-icons -->
      <div class="clear"></div>
    </div>
  </footer>
  </body>
</html>

